<template>
  <main class="home">
    <div class="container-sm pt-3">
      <h3 class="mb-5">Build your form!</h3>
      <div class="row">
        <div class="col form-section mr-2 pt-3">
          <article>
            <div class="card mb-5" style="">
              <div class="card-body">
                <h5 class="card-title">Set Form Title</h5>
                <div class="form-group">
                  <label for="">Enter Form Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id=""
                    placeholder="Enter form title"
                   
                    v-model="title"
                    @input="setTitle"
                  />
                </div>
                <div class="form-group">
                  <label for="">Form title text size</label>
                  <vue-slider
                    v-model="titleSize"
                    @change="setTitle"
                  ></vue-slider>
                </div>
                <div class="form-group">
                  <label for="">Select form title position</label>
                  <select
                    class="form-control"
                    v-model="titlePosition"
                    @change="setTitle"
                  >
                    <option value="left">Left</option>
                    <option value="right">Right</option>
                    <option value="center">Center</option>
                  </select>
                </div>
                <!-- <small class="form-text text-muted"
                  >Input type 'File' cannot be styled</small
                > -->
                <button
                  type="button"
                  class="btn btn-success"
                  @click="doneEdit"
                  v-show="title !== ''"
                >
                  Done!
                </button>
              </div>
            </div>
            <div class="card mb-5" style="">
              <div class="card-body">
                <h5 class="card-title">Design Inputs</h5>
                <div class="form-group">
                  <label for="">Select input type</label>
                  <select
                    class="form-control"
                    v-model="inputType"
                    @change="setInputElement"
                  >
                    <option value="email">Email</option>
                    <option value="text">Text (such as First Name)</option>
                    <option value="textarea"
                      >Enter Long Text (such as a description)</option
                    >
                    <option value="file">File</option>
                    <option value="password">Password</option>
                    <option value="select">Select option from list</option>
                    <option value="date">Date</option>
                    <option value="number">Number</option>
                    <option value="tel">Phone Number</option>
                    <option value="checkbox">Checkbox</option>
                    <option value="radio">Radio button</option>
                  </select>
                  <small
                    v-if="inputType === 'file'"
                    class="form-text text-muted"
                    >Input type 'File' cannot be styled</small
                  >
                </div>
                <div class="form-group" v-if="inputType === 'select'">
                  <label for="">Enter Select Options, comma separated.</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="selectOptions"
                    @input="setInputElement"
                    placeholder="Enter select values, comma separated"
                  />
                </div>
                <div
                  class="form-group"
                  v-if="inputType === 'radio' || inputType === 'checkbox'"
                >
                  <label for=""
                    >Enter {{ inputType }} options, comma separated.</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    v-model="radioOptions"
                    @input="setInputElement"
                    placeholder="Enter radio/checkbox options, comma separated"
                  />
                  <small class="form-text text-muted"
                    >eg
                    <pre>male, female</pre></small
                  >
                </div>
                <div
                  class="form-group"
                  v-if="inputType === 'radio' || inputType === 'checkbox'"
                >
                  <label for="">Title for {{ inputType }} buttons</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="radioTitle"
                    @input="setInputElement"
                    :placeholder="'Title for ' + inputType + ' buttons'"
                  />
                </div>

                <div class="form-group">
                  <label for="">Enter Input Label</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="label"
                    placeholder="Enter input label"
                    @input="setInputElement"
                  />
                </div>
                <div class="form-group">
                  <label for="">Enter Input placeholder text</label>
                  <input
                    type="text"
                    class="form-control"
                    id=""
                    placeholder="Placeholder text"
                    v-model="placeholderText"
                    @input="setInputElement"
                  />
                </div>
                <div class="form-group">
                  <label for="">How rounded do you want the corners?</label>
                  <vue-slider
                    v-model="radius"
                    @change="setInputElement"
                  ></vue-slider>
                </div>
                <div class="form-group">
                  <label for="">Input border thickness?</label>
                  <vue-slider
                    v-model="border"
                    @change="setInputElement"
                  ></vue-slider>
                </div>
                <section v-show="inputType !== 'file'">
                  <div class="form-group">
                    <label for="">Form input width?</label>
                    <vue-slider
                      v-model="width"
                      @change="setInputElement"
                    ></vue-slider>
                  </div>
                  <div class="form-group">
                    <label for="">Input font size</label>
                    <vue-slider
                      v-model="fontSize"
                      @change="setInputElement"
                    ></vue-slider>
                  </div>
                  <div class="form-group">
                    <label for="">Form input height?</label>
                    <vue-slider
                      v-model="height"
                      @change="setInputElement"
                    ></vue-slider>
                  </div>
                  <div class="form-group">
                    <label for="">Input border color</label>
                    <verte
                      picker="square"
                      model="rgb"
                      v-model="borderColor"
                      @input="setInputElement"
                    ></verte>
                  </div>
                  <div class="form-group">
                    <label for="">Input text color</label>
                    <verte
                      picker="square"
                      model="rgb"
                      v-model="color"
                      @input="setInputElement"
                    ></verte>
                  </div>
                  <div class="form-group">
                    <label for="">Input background color</label>
                    <verte
                      picker="square"
                      model="rgb"
                      v-model="bkgColor"
                      @input="setInputElement"
                    ></verte>
                  </div>
                </section>
                <div class="form-group">
                  <label for="">Space between inputs</label>
                  <vue-slider
                    v-model="margin"
                    @change="setInputElement"
                  ></vue-slider>
                </div>
                <button
                  v-show="inputType !== '' && edit === false"
                  type="button"
                  class="btn btn-success mb-2"
                  @click="doneEdit"
                >
                  Done!
                </button>
              </div>
            </div>
            <div class="form-group mb-5">
              <label for="">Select form position on page</label>
              <select class="form-control" v-model="formPosition">
                <option>Left</option>
                <option value="">Right</option>
                <option value="">Center</option>
              </select>
            </div>
          </article>
        </div>
        <div class="col form-section">
          <p v-show="elementsArr.length > 0" class="so-far">
            Form designed so far
          </p>
          <draggable
            v-model="elementsArr"
            handle=".handle"
            style="width: 100%"
            class="mb-5"
          >
            <div
              v-for="(el, e) in elementsArr"
              :key="e"
              class="mb-3"
              :style="{ marginBottom: el.margin + 'px' }"
            >
              <label
                :for="'id_' + e"
                v-if="
                  showLabel === true &&
                    el.inputType !== 'title' &&
                    el.inputType !== 'radio' &&
                    el.inputType !== 'checkbox'
                "
                style="margin-left: 20px;"
                >{{ el.label }}</label
              >
              <div class="d-flex">
                <font-awesome-icon
                  :icon="['fas', 'grip-vertical']"
                  class="mr-2 handle"
                />
                <h1
                  v-if="el.inputType === 'title'"
                  @click="editElement"
                  :style="{
                    fontSize: el.titleSize + 'px',
                    textAlign: el.titlePosition,
                  }"
                >
                  {{ title }}
                </h1>
                <select
                  v-else-if="el.inputType === 'select'"
                  :name="'name_' + e"
                  :id="'id_' + e"
                  :style="{
                    width: el.width + '%',
                    height: el.height + 'px',
                    backgroundColor: el.bkgColor,
                    color: el.color,
                    borderColor: el.borderColor,
                    paddingLeft: el.leftPadding + 'px',
                    fontSize: el.fontSize + 'px',
                    marginBottom: el.margin + 'px',
                    borderStyle: el.borderStyle,
                    borderRadius: el.radius + 'px',
                    display: el.display,
                  }"
                >
                  <option
                    v-for="(option, i) in el.selectOptions.trim().split(',')"
                    :value="option"
                    :key="i"
                  >
                    {{ option }}
                  </option>
                </select>
                <textarea
                  v-else-if="el.inputType === 'textarea'"
                  :name="'name_' + e"
                  :id="'id_' + e"
                  :style="{
                    width: el.width + '%',
                    height: el.height + 'px',
                    backgroundColor: el.bkgColor,
                    color: el.color,
                    borderColor: el.borderColor,
                    paddingLeft: el.leftPadding + 'px',
                    fontSize: el.fontSize + 'px',
                    borderStyle: el.borderStyle,
                    borderRadius: el.radius + 'px',
                    display: el.display,
                  }"
                ></textarea>
                <div
                  v-else-if="
                    el.inputType === 'radio' || el.inputType === 'checkbox'
                  "
                >
                  <span
                    style="font-size: 16px; margin-bottom: 8px; display: block;"
                    >{{ el.radioTitle }}</span
                  >
                  <div
                    v-html="addRadioOptions(el.radioOptions, el.inputType)"
                  ></div>
                  <!-- <div class="d-flex align-items-center" v-for="(button, b) in el.radioOptions.split(',').trim()" :key="b">
                    <input
                      :type="el.inputType"
                      :name="'name_' + e"
                      :id="'id_' + e"
                      class="mr-2"
                      style=""
                      :style="{
                        display: el.display,
                      }"
                    />
                    <label :for="'id_' + e" style="margin: 0">{{ button }}</label>
                  </div> -->
                </div>
                <input
                  v-else
                  :type="el.inputType"
                  :name="'name_' + e"
                  :id="'id_' + e"
                  :placeholder="el.placeholderText"
                  :style="
                    el.inputType === 'file'
                      ? {}
                      : {
                          width: el.width + '%',
                          height: el.height + 'px',
                          backgroundColor: el.bkgColor,
                          color: el.color,
                          borderColor: el.borderColor,
                          paddingLeft: el.leftPadding + 'px',
                          fontSize: el.fontSize + 'px',
                          borderStyle: el.borderStyle,
                          borderRadius: el.radius + 'px',
                          display: el.display,
                        }
                  "
                />
              </div>
              <div class="action-icons mb-3">
                <font-awesome-icon
                  :icon="['fas', 'pen']"
                  class="mr-3 pointer"
                  @click="editElement(e, 'edit')"
                />
                <font-awesome-icon
                  :icon="['fas', 'copy']"
                  class="mr-3 pointer"
                  @click="editElement(e, 'clone')"
                />
                <font-awesome-icon
                  :icon="['fas', 'trash-alt']"
                  class="mr-2 pointer"
                  @click="editElement(e, 'delete')"
                />
              </div>
            </div>
          </draggable>
          <button
            @click="buildForm"
            v-show="elementsArr.length > 0"
            class="btn btn-success mb-5"
          >
            Publish
          </button>
          <!-- <div
            v-html="formHtml"
            style="width: 100%"
            class="mb-5"
            @click="editElement"
          ></div> -->
          <p class="so-far">Current Element being designed</p>
          <div
            v-html="inputType === 'title' ? titleHtml : inputElement"
            class="mb-5"
            style=""
          ></div>
          <button
            v-show="edit"
            @click="
              editComplete();
              edit = false;
            "
            class="btn btn-success edit-complete"
          >
            Edit Complete
          </button>
        </div>
      </div>
      <section v-show="publish">
        <h3 class="mb-5">What your form will look like.</h3>
        <div v-html="formHtml" class="mb-5"></div>
        <textarea id="markup" v-model="formHtml"> </textarea>
      </section>
    </div>
  </main>
</template>

<script>
// @ is an alias to /src

import draggable from "vuedraggable";

export default {
  name: "Home",
  components: {
    draggable,
  },
  data() {
    return {
      title: "",
      titlePosition: "",
      label: "",
      inputType: "email",
      radius: 0,
      placeholderText: "",
      width: 50, //this.inputType === 'radio' || this.inputType === 'checkbox' ? 15 : 50,
      height: 35,
      margin: 20,
      color: "#333",
      bkgColor: "#eee",
      formPosition: "",
      titleSize: 20,
      fontSize: 15,
      borderColor: "#eee",
      inputElement: "",
      border: "1",
      leftPadding: "10",
      showLabel: true,
      formHtml: "",
      currentElement: {},
      elementsArr: [],
      display: "block",
      elementIndex: 0,
      editIndex: 0,
      editObj: {},
      titleHtml: "",
      borderStyle: "solid",
      currentIndex: 0,
      edit: false,
      selectOptions: "",
      radioTitle: "",
      radioOptions: "",
      publish: false,
    };
  },

  methods: {
    editElement(index, act) {
      //var id = event.target.getAttribute("data-id");
      //console.log(event.target);
      //alert(event.target.getAttribute("data-index"));

      let i = index; //event.target.getAttribute("data-index");
      let action = act; //event.target.getAttribute("data-action");
      let obj = {};

      if (action === "edit") {
        obj = Object.assign({}, this.elementsArr[i]);
        if (obj.inputType === "title") {
          this.inputType = "title";
          this.titleSize = obj.titleSize;
          this.titlePosition = obj.titlePosition;
          this.title = obj.title;
        } else {
          this.radioTitle = obj.radioTitle;
          this.inputType = obj.inputType;
          this.label = obj.label;
          this.placeholderText = obj.placeholderText;
          this.width = obj.width;
          this.height = obj.height;
          this.radius = obj.radius;
          this.bkgColor = obj.bkgColor;
          this.color = obj.color;
          this.borderColor = obj.borderColor;
          this.leftPadding = obj.leftPadding;
          this.fontSize = obj.fontSize;
          this.margin = obj.margin;
          this.border = obj.border;
          this.borderStyle = obj.borderStyle;
          this.display = obj.display;
          this.selectOptions = obj.selectOptions;
          this.radioOptions = obj.radioOptions;
        }

        this.setInputElement();
        this.editIndex = i;
        this.edit = true;
      } else if (action === "clone") {
        this.copyElement(i);
      } else if (action === "delete") {
        this.deleteElement(i);
      }
    },

    editComplete() {
      this.setCurrentElementProperties();
      this.elementsArr[this.editIndex] = Object.assign({}, this.currentElement);
      this.buildForm();
    },

    copyElement(i) {
      let a = Object.assign({}, this.elementsArr[i]);
      this.elementsArr.push(a);
      this.buildForm();
    },

    deleteElement(i) {
      this.elementsArr.splice(i, 1);
      this.buildForm();
    },

    setInputElement() {
      this.setCurrentElementProperties();
      this.inputType = this.currentElement.inputType;

      if (this.inputType === "select") {
        this.inputElement = `${
          this.showLabel ? this.setLabel() : ""
        }<select data-index="${this.elementIndex}" style="${this.setStyles(
          this.currentElement
        )}">${this.addSelectOptions(
          this.currentElement.selectOptions
        )}</select>`;
      } else if (this.inputType === "textarea") {
        this.inputElement = `${
          this.showLabel ? this.setLabel() : ""
        }<textarea data-index="${
          this.elementIndex
        }" rows="3" style="${this.setStyles(this.currentElement)}"></textarea>`;
      } else if (this.inputType === "radio" || this.inputType === "checkbox") {
        this.inputElement = `<span style="font-size: 16px;
    margin-bottom: 8px;
    display: block;">${this.radioTitle}</span>${this.addRadioOptions(
          this.currentElement.radioOptions,
          this.currentElement.inputType
        )}`;
      } else {
        this.inputElement = `${
          this.showLabel ? this.setLabel() : ""
        }<input style="${
          this.inputType === "file"
            ? `display: block; margin-bottom: ${this.margin}px`
            : this.setStyles(this.currentElement)
        }" type="${this.inputType}" ${this.setPlaceholder()} data-index="${
          this.elementIndex
        }">`;
      }
    },

    buildForm() {
      let arr = this.elementsArr;
      let i = 0;
      let el = "";
      let formEl = "";

      for (i = 0; i < arr.length; i++) {
        if (arr[i].inputType === "select") {
          el = `<div style="margin-bottom: ${arr[i].margin}px;">${
            this.showLabel ? arr[i].label : ""
          }<select data-index="${i}" class="el" style="${this.setStyles(
            arr[i]
          )}">${this.addSelectOptions(arr[i].selectOptions)}</select></div>`;
        } else if (arr[i].inputType === "textarea") {
          el = `<div style="margin-bottom: ${arr[i].margin}px;">${
            this.showLabel ? arr[i].label : ""
          }<textarea data-index="${i}" class="el" rows="3" style="${this.setStyles(
            arr[i]
          )}"></textarea></div>`;
        } else if (arr[i].inputType === "title") {
          el = `<h1 class="el" style="font-size: ${arr[i].titleSize}px; text-align:
          ${arr[i].titlePosition}">${arr[i].title}</h1>`;
        } else if (
          this.inputType === "radio" ||
          this.inputType === "checkbox"
        ) {
          this.inputElement = `<span style="font-size: 16px;
            margin-bottom: 8px;
            display: block;">${arr[i].radioTitle}</span>${this.addRadioOptions(
            arr[i].radioOptions,
            arr[i].inputType
          )}`;
        } else {
          el = `<div style="margin-bottom: ${arr[i].margin}px;">${
            this.showLabel ? arr[i].label : ""
          }<input class="el" style="${
            arr[i].inputType === "file"
              ? `display: block;`
              : this.setStyles(arr[i])
          }" type="${arr[i].inputType}" placeholder="${
            arr[i].placeholderText
          }" data-index="${i}" ref="el_${i}"></div>`;
        }

        formEl += el;
      }

      this.formHtml = formEl;
      this.publish = true;
    },

    doneEdit() {
      this.setCurrentElementProperties();
      this.addToForm();
    },

    addSelectOptions(options) {
      let s = options;
      let i = 0;
      let a = "";
      let arr = s.split(",");

      for (i = 0; i < arr.length; i++) {
        a += `<option value="${arr[i]}">${arr[i]}</option>`;
      }

      return a;
    },

    addRadioOptions(options, buttonType) {
      let s = options;
      let i = 0;
      let a = "";
      let arr = s.split(",");

      function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
      }

      let inputName = getRandomInt(0, 10000);

      for (i = 0; i < arr.length; i++) {
        a += `<div style="display: flex; align-items: center; margin-bottom: 5px;"><input type="${buttonType}" name="option_${inputName}" id="option_${i}" style="margin-right: 0.5rem;" value="${arr[i]}" /><label for="option_${i}" style="margin: 0">${arr[i]}</label></div>`;
      }

      return a;
    },

    addIcons(i) {
      let s = `<div class="mb-3 edit-wrapper"><span data-index="${i}" data-action="edit" class="edit-btn mr-2">Edit</span><span data-index="${i}" data-action="clone" class="edit-btn mr-2">Clone</span><span data-index="${i}" data-action="delete" class="edit-btn">Delete</span></div>`;
      return s;
    },

    setLabel() {
      const s = `<label>${this.label}</label>`;
      return s;
    },

    setPlaceholder() {
      const s = `placeholder="${this.placeholderText}"`;
      return s;
    },

    setTitle() {
      const s = `<h1 style="font-size: ${this.titleSize}px; text-align:
      ${this.titlePosition}">${this.title}</h1>`;
      this.inputType = "title";
      this.titleHtml = s;
    },

    setCurrentElementProperties() {
      if (this.inputType === "title") {
        this.currentElement.inputType = "title";
        this.currentElement.titleSize = this.titleSize;
        this.currentElement.titlePosition = this.titlePosition;
        this.currentElement.title = this.title;
      } else {
        this.currentElement.inputType = this.inputType;
        this.currentElement.label = this.label;
        this.currentElement.placeholderText = this.placeholderText;
        this.currentElement.width = this.width;
        this.currentElement.height = this.height;
        this.currentElement.radius = this.radius;
        this.currentElement.bkgColor = this.bkgColor;
        this.currentElement.color = this.color;
        this.currentElement.borderColor = this.borderColor;
        this.currentElement.leftPadding = this.leftPadding;
        this.currentElement.fontSize = this.fontSize;
        this.currentElement.margin = this.margin;
        this.currentElement.border = this.border;
        this.currentElement.borderStyle = this.borderStyle;
        this.currentElement.display = this.display;
        this.currentElement.selectOptions = this.selectOptions;
        this.currentElement.radioTitle = this.radioTitle;
        this.currentElement.radioOptions = this.radioOptions;
      }
    },

    addToForm() {
      let obj = {};
      if (this.inputType === "title") {
        obj = Object.assign({}, this.currentElement);

        if (this.elementsArr.length > 0) {
          if (this.elementsArr[0].inputType === "title") {
            this.elementsArr.shift();
          }
        }
        this.elementsArr.unshift(obj);
      } else {
        obj = Object.assign({}, this.currentElement);
        this.elementsArr.push(obj);
      }

      this.buildForm();
      this.elementIndex++;
    },

    setStyles(obj) {
      const s = `width: ${obj.width}${
        obj.inputType === "radio" || obj.inputType === "checkbox" ? "px" : "%"
      }; height: ${obj.height}px; border-radius: ${
        obj.radius
      }px; background-color: ${obj.bkgColor};
      color: ${obj.color}; border-color: ${obj.borderColor}; font-size: ${
        obj.fontSize
      }px;
      border-width: ${obj.border}px; padding-left: ${
        obj.leftPadding
      }px; display: ${obj.display}; border-style: ${obj.borderStyle}`;

      return s;
    },
  },

  mounted() {},
};
</script>
