@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.home {
  .form-section {
    min-width: 300px;

    .so-far {
      font-size: 17px;
      font-weight: 500;
    }

    .edit-wrapper {
      margin-top: 0px;
      .edit-btn {
        display: inline-block;
        color: #777;
      }
    }

    .edit-complete {
      margin-top: 10px;
    }
  }

  .verte {
    justify-content: start;
  }

  .pointer {
    cursor: pointer;
  }

  .action-icons {
    color: #777;
    margin-left: 20px;
  }

  .handle {
    color: #777;
    font-size: 19px;
    cursor: move;
  }

  #markup {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    background: #2c323b;
    color: #eee;
  }

}
